/* I SUCK AT CSS! */

.my-header h2 {
  margin-left: 75px;
  margin-top: 10px;
}

.my-header span {
  margin-left: 5px;
}

.my-header img {
  float: left;
  border-bottom: 1px solid #ccc;
}

.subtitle {
  margin-left: 10px;
  margin-top: 5px;
}